<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/index.html">Gruppo Sportivo &amp; Culturale</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/program/index.html">Programma</a></li>
            <li><a href="/wines/index.html">Mostra dei Vini</a></li>
            <li><a href="/events/index.html">Eventi</a></li>
            <li><a href="/pitona/index.html">Pitona</a></li>
            <li><a href="/contacts/index.html">Contatti</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
