{% extends "base.html" %}

{% block title %}
    Contatti
{% endblock title %}

{% block content %}

    <div class="container generic contacts">
      <div class="row">
          <div class="span12">
            {% include "base_map.html" %}
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Mostra dei Vini</h2>
          <p>Telefono: Sig. Danilo Fuser (+39)3495110220</p>
          <p>E-Mail: <a href="mailto:mostradeivinicandelu@libero.it">mostradeivinicandelu@libero.it</a> | <a href="mailto:fuser.danilo@libero.it">fuser.danilo@libero.it</a></p>
        </div>
        <div class="span4">
            <h2>Gruppo Sportivo &amp; Culturale - Candelù</h2>
            <p>Piazza Pio X</p>
            <p>31052 Candelù di Maserada sul Piave</p>
            <p>Telefono: Sig. Lorenzo Mattiuzzo (+39)3355424049</p>
            <p>E-Mail: <a href="mailto:info@gscandelu.it">info@gscandelu.it</a></p>
        </div>
        <div class="span4">
          <h2>Pitona</h2>
          <p>Telefono: Sig. Alberto Grosso (+39)3391325591</p>
          <p>E-Mail: <a href="mailto:pitona@gscandelu.it">pitona@gscandelu.it</a> | <a href="mailto:alberto.grosso1984@libero.it">alberto.grosso1984@libero.it</a></p>
        </div>
      </div>

      <div class="row map">

      </div>

      <footer>
        <p class="pull-right"><a href="#">Torna all'inizio</a></p>
        <p>&copy; {{ ctx.0.year }} Gruppo Sportivo &amp; Culturale.</p>
      </footer>

    </div>
{% endblock content %}

{% block script %}
{% endblock script %}
