{% extends "base.html" %}

{% block title %}
    Eventi {{ ctx.0.year }}
{% endblock %}

{% block carousel_items %}

    {% if ctx.0.scopa %}
        <div class="item active">
          <img src="{{ ctx.0.img }}eventi-scopa-{{ ctx.0.year }}.jpg" alt="">
          <div class="container"></div>
        </div>
    {% endif %}

    {% if ctx.0.moto %}
        <div class="item">
          <img src="{{ ctx.0.img }}eventi-moto-{{ ctx.0.year }}.jpg" alt="">
          <div class="container"></div>
        </div>
    {% endif %}

    {% if ctx.0.pedalata %}
        <div class="item">
          <img src="{{ ctx.0.img }}pedalata.jpg" alt="">
          <div class="container"></div>
        </div>
    {% endif %}

    {% if ctx.0.pitona %}
        <div class="item">
          <img src="{{ ctx.0.img }}pitona.jpg" alt="">
          <div class="container"></div>
        </div>
    {% endif %}

{% endblock %}
