{% extends "base.html" %}

{% block title %}Sagra del Primo del Majo {{ ctx.0.year }}{% endblock %}

{% block content %}
<div class="section group">

    <!-- first column: logo + map -->
    <div class="col span_1_of_3">
        <div class="row row_1_of_2">
        	<img src="{{ ctx.0.img }}{{ ctx.0.logo }}">
        </div>

        <div class="row row_1_of_2">
            {% include "_map.html" %}
        </div>
	</div>

    <!-- second column: volantino (+ program) -->
	<div class="col span_1_of_3">
    	<img src="{{ ctx.0.img }}volantino_{{ ctx.0.year }}-0.jpg">
	</div>

    <!-- third column: carte + moto + pedalata (+ pitona) -->
	<div class="col span_1_of_3">
        <div class="row row_1_of_3">
        	<img src="{{ ctx.0.img }}eventi-scopa-{{ ctx.0.year }}.jpg">
        </div>

        <div class="row row_1_of_3">
        	<img src="{{ ctx.0.img }}eventi-moto-{{ ctx.0.year }}.jpg">
        </div>
        <div class="row row_1_of_3">
        	<img src="{{ ctx.0.img }}pedalata.jpg">
        </div>
	</div>
</div>
{% endblock %}
