{% extends "base.html" %}

{% block title %}Gruppo Sportivo &amp; Culturale{% endblock %}

{% block content %}
<div class="section group">

    <!-- first column: logo + map -->
    <div class="col span_1_of_3">
        {% include "_hp_hero.html" %}
	</div>

    <!-- second column: volantino (+ program) -->
	<div class="col span_1_of_3">
    	{% include "_hp_main.html" %}
	</div>

    <!-- third column: carte + moto + pedalata (+ pitona) -->
	<div class="col span_1_of_3">
        {% include "_hp_events.html" %}
	</div>
</div>
{% endblock %}
