{% extends "base.html" %}

{% block title %}{{ ctx.0.wines_edition }} Mostra dei Vini del Piave{% endblock %}


{% block carousel_items %}

    <div class="item active">
      <img src="{{ ctx.0.img }}volantino_sagra_{{ ctx.0.year }}.jpg"
           alt="{{ ctx.0.wines_edition }} Mostra dei Vini del Piave - volantino">
      <div class="container"></div>
    </div>

    {% if ctx.0.wines %}
        {% for page in ctx.0.wines_pages %}
            <div class="item">
              <img src="{{ ctx.0.img }}mostra-dei-vini-{{ ctx.0.year }}-{{ page }}.jpg"
                   alt="{{ ctx.0.wines_edition }} Mostra dei Vini del Piave - Aziende Espositrici - Pagina {{ page }}">
              <div class="container"></div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
