/* GLOBAL STYLES

    main color: rgba(170, 239, 151) #aaef97
    mild version: rgba(108, 163, 93) #6ca35d
    dark version: rgba(36,89,23) #245917
-------------------------------------------------- */
body {
  padding-bottom: 40px;
  color: #fff;
}

h1,h2,h3,h4 {
    color: #245917;
}

a,
a:hover,
a:visited {
    color: #50922C;
}

/* NAVBAR
-------------------------------------------------- */
.navbar .navbar-inner {
    background-color: #aaef97;
    background-image: linear-gradient(to bottom, #aaef97, #6ca35d);
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
}
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(170, 239, 151,.25);
     -moz-box-shadow: 0 2px 10px rgba(170, 239, 151,.25);
          box-shadow: 0 2px 10px rgba(170, 239, 151,.25);
}
.navbar .brand {
  color: #fff;
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(170, 239, 151,.1);
}
.navbar .nav > li > a {
  padding: 15px 20px;
  color: #fff;
  font-weight: normal;
}
.navbar .nav > li > a:hover {
  color: #fff;
  background-color: #6ca35d;
  font-weight: normal;
}
.navbar .btn-navbar {
  margin-top: 10px;
}

/* CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-top: 130px;
  margin-bottom: 30px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 65px;
  font-size: 150px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  background-color: rgba(36,89,23,0.7);
  border: 0;
  z-index: 10;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  width: 100%;
  margin-top: 370px;
  height: 115px;
  display: block;
  text-align: center;
  padding-left: 13%;
}
.well {
    background-color: rgba(36,89,23,0.7);
    width: 70%;
    margin: 0;
}
.carousel-caption .well h1,
.carousel-caption .well .lead {
  color: #fff;
  margin: 0;
  line-height: 1.25;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.carousel-caption .well .btn {
  margin-top: 10px;
  color: #fff;
}

/* Carousel: standard pages, 1430px height, 80% width */
.carousel .item {
    height: 1430px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
}

/* Carousel: home page, fixed height, 100% width */
.homepage {
    max-height: 800px;
    left: 0px;
}
.homepage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.readjust {
    margin-top: -130px;
}
.readjust-control {
    top: 60%;
}

/* CONTENT
-------------------------------------------------- */
.generic .span4,
.generic .span6,
.generic .span12 {
  text-align: center;
}
.generic h2 {
  font-weight: normal;
}
.generic .span4 p,
.generic .span6 p,
.generic .span12 p {
  color: #245917;
  margin-left: 10px;
  margin-right: 10px;
}
.contacts {
    margin-top: 100px;
}
.map {
    margin-top: 35px;
    padding-left: 25%;
}

footer { color: #245917; }


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1200px) {
  .navbar .nav > li > a {
    padding: 15px;
  }
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }
  .carousel .item {
      min-height: 500px;
  }
  .carousel img {
    width: auto;
  }
  .readjust-control {
      top: 45%;
  }
  .well {
  }
}


@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .generic .span4 + .span4 {
    margin-top: 40px;
  }
  .readjust {
      margin-top: 50px;
  }

}
